<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @question.query %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @question.explanation %>
</p>

(get possible answers)

# <%= link_to 'Question suivante', test_quiz_question_path(@test, @quiz, @next_question) %>