<p>Bonjour <%= @resource.email %>!</p>

<p>Il semblerait que votre mot de passe vous soit sorti de la tête. Vous pouvez cliquer sur le lien ci-dessous pour le changer !</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si cette demande ne vient pas de vous, merci de l'ignorer.</p>
<p>Votre mot de passe ne sera pas changé tant que vous ne cliquerez pas sur ce lien.</p>
